{
  "singleQuote": true,
  "importOrder": [ "^@/hooks/(.*)$", "^@/redux/(.*)$", "^@/api/(.*)$", "^@/components/(.*)$", "^[./]", "^[../]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"]
}