@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

@layer components {
  .input {
    @apply rounded-xl border-2 border-neutral-light p-4 text-base text-neutral-dark outline-2 outline-primary transition-all placeholder:text-sm placeholder:text-neutral-light disabled:bg-slate-100 disabled:text-slate-500 disabled:outline-none;
  }

  .label {
    @apply flex w-full flex-col text-sm font-medium text-neutral-dark transition-all focus-within:text-primary;
  }

  .submit-button {
    @apply flex w-full items-center justify-center self-center  rounded-xl bg-primary p-4 font-semibold text-white transition-all hover:scale-[101%] hover:shadow-md hover:shadow-primary/30 disabled:cursor-not-allowed disabled:bg-primary/60 disabled:hover:scale-100 disabled:hover:shadow-none;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary/50 transition-all;
  }
}

.firebase-emulator-warning {
  display: none;
}
